.dashboard {
    display: block;
}
.main-area {
    position: absolute;
    width: 100%;
    top: 0;
}
@media only screen and (min-width: 768px) {
    .dashboard {
        display: grid;
        grid-template-columns: 250px 1fr;
    }
    .main-area{
        position: relative;
    }
}
